.header {
    display: flex;
    width: 100%;
    background-color:#225088;

    align-items: center;    
    nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}


.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 1rem;
    width: 100%;

    a, p {
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}

.logo{
    text-transform: initial;
    font-weight: 600;

    &:hover{
        text-decoration: none !important;
    }
}

.signOutBtn {
    white-space: nowrap;
}

.buttonGroup{
    display: flex;
    gap: 1rem;

    a
    {
        width: max-content;
        white-space: nowrap;
    }
}